{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="icon" href="{% static 'icons/Quellus_letter_Q.ico' %}"/>
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
    </style>

    <link rel="stylesheet" href="{% static 'blog/404.css' %}">
        
    <title>A Tale Untold</title>
</head>


<body>

    <div class="q404-content">
        <h2> A Tale Untold </h2>
    
        <p class="lost-haiku">
            Not to make it weird<br>
            But you won't find those Tales here<br>
            <a href="/">
                Go home, wanderer
            </a>
        </p>
    
    </div>

  
</body>

</html>


