{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="icon" href="{% static 'icons/Quellus_letter_Q.ico' %}"/>
    
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet"> -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
    </style>

    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    {% if title %}
        <title>Que - {{ title }}</title>
    {% else %}
        <title>Que</title>
    {% endif %}
</head>


<body>
  <!-- <script src="main.js"></script> -->
  <nav>
    <div class="navitems">
      <a id="taleslink" href="{% url 'blog-tales' %}" style="text-decoration:none">Tales</a>
      <!-- <div class="logo"> -->
      <a id="logolink" href="{% url 'blog-home' %}">
        <img src="{% static 'icons/Que.png' %}" alt="Que Logo" class="quelogo"/>
      </a>
      <!-- </div> -->
      <a id="aboutlink" href="{% url 'blog-about' %}" style="text-decoration:none">About</a>
    </div>
  </nav>

  
  <!-- <div class="content">
    <div>

    </div>
  </div> -->
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <footer>
    <a href="https://github.com/Peplinn/Blogit">
      <img src="{% static 'images/GitHubLogo.png' %}" alt="Git Logo" class="gitlogo"/>
    </a>
  </footer>
</body>

</html>