{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="icon" href="{% static 'icons/Quellus_letter_Q.ico' %}"/>
    
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet"> -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
    </style>

    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    {% if title %}
        <title>Que - {{ title }}</title>
    {% else %}
        <title>Que</title>
    {% endif %}
</head>


<body>
  <!-- <script src="main.js"></script> -->
  <!-- <nav>
    <div class="navitems">
      <a id="taleslink" href="{% url 'blog-tales' %}" style="text-decoration:none">Tales</a>
      <a id="logolink" href="{% url 'blog-home' %}">
        <img src="{% static 'icons/Que.png' %}" alt="Que Logo" class="quelogo"/>
      </a>
      <a id="aboutlink" href="{% url 'blog-about' %}" style="text-decoration:none">About</a>
    </div>
  </nav> -->

  <div class="body-con">
    <nav class="navbar">
      <ul class="navbar-center">
        <li><a href="{% url 'blog-tales' %}">Tales</a></li>
        <li>
          <a id="logolink" href="{% url 'blog-home' %}">
            <img src="{% static 'icons/Que.png' %}" alt="Que Logo" class="quelogo">
          </a>
        </li>
        <li><a href="{% url 'blog-about' %}">About</a></li>
      </ul>
    </nav>
  
    
    <!-- <div class="content">
      <div>
  
      </div>
    </div> -->
    <main role="main" class="body-container">
      <div class="row">
        <div class="inner-column">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
  
    <footer id="myfooter">
      <ul class="footerdiv-center">
        <li>
          <a href="https://github.com/Peplinn/Blogit">
            <img src="{% static 'icons/github-logo.png' %}" alt="Git Logo" class="gitlogo"/>
          </a>
        </li>
      </ul>
    </footer>
  </div>

  
</body>

</html>