{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'icons/Quellus_letter_Q.ico' %}"/>

    <link rel="stylesheet" href="{% static 'blog/home.css' %}">
    {% if title %}
        <title>Que - {{ tale.title }}</title>
    {% else %}
        <title>Que</title>
    {% endif %}
</head>

<body>
    <div class="container">
        <div class="logo">
          <img id="quelogo" src="{% static 'icons/Que.png' %}" alt="Logo"/>
        </div>
        <div class="content">
            <div class="number">
                <a href="{% url 'tale-detail' latest_tale.number %}">
                    <h1 id="tale-number">{{ latest_tale.number }}</h1>
                </a>
            </div>
            <div class="name-desc">
                <a href="{% url 'tale-detail' latest_tale.number %}">
                    <h1>{{ latest_tale.title }}</h1>
                </a>
                <p class="abstract">{{ latest_tale.abstract }}</p>
            </div>
        </div>
        <hr class="divider">
        <div class="nav">
            <a href="{% url 'blog-tales' %}" class="nav-link">Tales</a>
            <a href="https://github.com/Peplinn/Blogit" class="github-link" target="_blank">
              <!-- <img src="{% static 'images/GitHubLogo.png' %}" alt="Logo" class="logo"/> -->
              <img src="{% static 'icons/github-logo.png' %}" alt="Git Logo" class="gitlogo"/>
            </a>
            <a href="{% url 'blog-about' %}" class="nav-link">About</a>
        </div>
    </div>
</body>
</html>