{% extends "blog/base.html" %}
{% block content %}
    <!-- <h1>Blog Tales</h1> -->

    {% for tale in tales %}
        <div class="content">
            <div class="number">
                <h1 id="tale-number">{{ tale.number }}</h1>
            </div>
            <div class="name-desc">
                <h1>{{ tale.title }}</h1>
                <p class="abstract">{{ tale.abstract }}</p>
            </div>
        </div>
        {% if not forloop.last %}
            <hr class="divider">
        {% endif %}
    {% endfor %}
{% endblock content %}
